.elementor-kit-13 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #A6A8C7;
    --e-global-color-accent: #61CE70;
    --e-global-color-2f3f803: #150371;
    --e-global-color-7dfe9eb: #150371;
    --e-global-color-134a593: #4200FF;
    --e-global-color-600adc8: #F3F3FF;
    --e-global-typography-primary-font-family: "Work Sans";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: #000082;
    font-size: 16px;
    background-color: #fff
}

.elementor-kit-13 h1 {
    color: #000082
}

.elementor-kit-13 h2 {
    color: #000082
}

.elementor-kit-13 h3 {
    color: #000082
}

.elementor-kit-13 h4 {
    color: #000082
}

.elementor-kit-13 h6 {
    font-size: 5px
}

.elementor-kit-13 img {
    opacity: 1
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px
}

.e-con {
    --container-max-width: 1140px
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px
}

.elementor-element {
    --widgets-spacing: 20px
}

    {}

h1.entry-title {
    display: var(--page-title-display)
}

@media(max-width:1239px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px
    }

    .e-con {
        --container-max-width: 1024px
    }
}

@media(max-width:599px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px
    }

    .e-con {
        --container-max-width: 767px
    }
}

h1, h2, h3, p {
    color: #000082
}

h1 {
    font-size: 4.125rem !important;
    font-weight: 700 !important;
    letter-spacing: -1.5px !important
}

h2 {
    margin-top: 6rem;
    margin-bottom: 0;
    font-size: 2.4rem;
    font-weight: 700 !important;
    letter-spacing: -.05rem
}

h3 {
    margin: 5rem 0 2rem;
    letter-spacing: -.5px;
    font-size: 2.2rem
}

h4 {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
    letter-spacing: -.5px !important;
    margin: 2rem 0 1rem !important
}

.elementor-toc__header {
    border-bottom: var(--separator-width, 1px) solid var(--box-border-color, #e3e2ed) !important
}

.elementor-widget-table-of-contents .elementor-widget-container {
    border: none !important
}

.sf-entry-content>.sf-content a {
    color: #3131ef !important;
    font-weight: 500 !important
}

.elementor-toggle .elementor-tab-title {
    border: none
}

p {
    margin-bottom: 1.5rem !important;
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 400;
    letter-spacing: -.04rem;
    color: #000082 !important
}

li {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: -.03rem
}

div.elementor-toc__header {
    padding-left: 0
}

div.elementor-toc__body {
    padding-left: 0
}

ul {
    margin-bottom: 1rem !important;
    margin-top: 0 !important
}

h4.elementor-toc__header-title {
    margin: 1rem 0 !important
}

h3.sf-entry-title {
    font-size: 1.4rem !important;
    margin: .5rem 0 0 !important
}

div.author {
    margin: 0 0 !important;
    color: #afaec4
}

h1.sf-entry-title {
    font-size: 3.4rem !important;
    line-height: 3.65rem !important;
    font-weight: 700 !important;
    letter-spacing: -1.5px !important;
    width: 400px
}

h5.elementor-author-box__name {
    font-size: 1.1rem
}

.sf-entry-content>.sf-author>.sf-entry-author>.sf-entry-author-content>.author {
    color: #000852;
    font-size: 1.45rem !important;
    font-weight: 600
}

.elementor-toggle .elementor-tab-content {
    margin-bottom: 30px
}

.sf-footer-brand .sf-logo img {
    max-width: 70% !important
}

.sf-footer-sidebar-wrapper .sf-col h4 {
    margin-top: 0 !important
}

.sf-footer-copyright-text {
    color: #000852 !important;
    font-weight: 400 !important
}

td {
    border: none !important;
    padding-left: 0 !important
}

.sf-entry-content ol, .sf-entry-content ul {
    padding-left: 0 !important;
    padding-top: 1rem !important
}

div.elementor-toggle div.elementor-tab-title {
    padding-left: 0 !important
}

.elementor-tab-title a {
    font-size: 1.25rem !important
}

.elementor-toggle .elementor-tab-title {
    padding: 10px !important
}

.elementor-widget:not(:last-child) {
    margin-bottom: 0 !important
}

.sf-entry-content img {
    margin-bottom: 30px !important
}

blockquote {
    padding: .25em 2em 1.25em 0 !important
}

.long-page-text h3, .long-page-text h2 {
    margin-top: 3.2em;
    margin-bottom: 1em !important
}

.long-page-text h2+h3 {
    margin-top: 0 !important
}

@media screen and (min-width:600px) {
    .long-page-text h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -.02em
    }

    .long-page-text h3 {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: -.02em
    }

    .long-page-text p {
        font-weight: 400;
        font-size: 21px;
        line-height: 31px;
        letter-spacing: -.04em
    }
}

@media screen and (max-width:599px) {
    .long-page-text h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -.01em
    }

    .long-page-text h3 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -.01em
    }

    .long-page-text p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.04em
    }
}

@media screen and (min-width:1240px) {
    .use-case-heading h1 {
        font-size: 4.125rem !important;
        font-weight: 700;
        letter-spacing: -.055em;
        line-height: 4.5rem !important
    }

    h1 {
        font-size: 4.125rem !important;
        font-weight: 700;
        letter-spacing: -.055em;
        line-height: 4.5rem !important
    }
}

@media screen and (max-width:1239px) {
    .use-case-heading h1 {
        font-weight: 700;
        letter-spacing: -.03em;
        line-height: 1em !important
    }

    h1 {
        font-size: 2.5rem !important;
        font-weight: 700;
        letter-spacing: -.03em;
        line-height: 1em !important
    }
}

.elementor-icon-list-text {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: -.03rem
}

.meetzoom-button {
    display: inline;
    background: #1d1dff;
    border-radius: 56px;
    font-family: work sans, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    border: none;
    padding: 24px 20px 24px 32px;
    vertical-align: middle
}

.meetzoom-button:hover, .meetzoom-button:focus {
    color: #fff
}

.meetzoom-button img {
    margin-left: 12px;
    margin-bottom: 2px;
    width: 71px
}

.try-free-button-container {
    line-height: 66px;
    display: block;
    text-align: center
}

.meetzoom-button-bot {
    display: inline;
    background: #1d1dff;
    border-radius: 56px;
    font-family: work sans, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    border: none;
    padding: 16px 24px;
    vertical-align: middle
}

.meetzoom-button-bot:hover, .meetzoom-button-bot:focus {
    color: #fff
}

.meetzoom-button-bot img {
    margin-left: 12px;
    margin-bottom: 2px;
    height: 17px
}

.try-free-button-bot-container {
    line-height: 49px;
    display: block;
    text-align: center
}

@media screen and (max-width:599px) {
    .meetzoom-button-bot img {
        width: 71px;
        z-index: 1;
        display: inline-block
    }

    .meetzoom-button-bot {
        padding: 24px 20px 24px 32px
    }

    .try-free-button-bot-container {
        line-height: 66px
    }
}

div[role=button] {
    outline: none !important
}