.elementor-5906 .elementor-element.elementor-element-137d310 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: 100
}

.elementor-5906 .elementor-element.elementor-element-c657541>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-5906 .elementor-element.elementor-element-c657541>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-5906 .elementor-element.elementor-element-c657541>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-menu-toggle {
    margin-left: auto;
    background-color: #02010100
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu .elementor-item {
    font-family: work sans, Sans-serif;
    font-weight: 400
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item {
    color: #000082;
    fill: #000082
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item:hover, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item:focus {
    color: #000082;
    fill: #000082
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown a, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-menu-toggle {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown {
    background-color: #02010100
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown a:hover, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #ffffff00
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #ffffff00
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown .elementor-item, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: work sans, Sans-serif;
    font-weight: 500
}

.elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0 45px 70px 0 rgba(0, 8.00000000000008, 81.99999999999999, .24)
}

.elementor-5906 .elementor-element.elementor-global-9292 div.elementor-menu-toggle {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-global-9292 div.elementor-menu-toggle svg {
    fill: #000082
}

.elementor-5906 .elementor-element.elementor-global-9292>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-5906 .elementor-element.elementor-element-468e5834 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: 100
}

.elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-7a9419cc.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-5906 .elementor-element.elementor-element-7a9419cc.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 90px
}

.elementor-5906 .elementor-element.elementor-element-dedca2e {
    text-align: left;
    width: auto;
    max-width: auto
}

.elementor-5906 .elementor-element.elementor-element-dedca2e img {
    width: 61px;
    height: 23px
}

.elementor-5906 .elementor-element.elementor-element-dedca2e>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu .elementor-item {
    font-family: work sans, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item {
    color: #000082;
    fill: #000082;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item:hover, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item.highlighted, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item:focus {
    color: #000082;
    fill: #000082
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-element-485694cf {
    --e-nav-menu-horizontal-menu-item-margin: calc(24px / 2);
    width: auto;
    max-width: auto;
    align-self: center
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 24px
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown a, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-menu-toggle {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown {
    background-color: #fff;
    border-radius: 24px 24px 24px 24px
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown a:hover, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown a.highlighted {
    background-color: #ffffff00
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #ffffff00
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown .elementor-item, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: work sans, Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0 45px 70px 0 rgba(0, 8.00000000000008, 81.99999999999999, .24)
}

.elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 16px !important
}

.elementor-5906 .elementor-element.elementor-element-485694cf>.elementor-widget-container {
    margin: 0 0 0 15px;
    padding: 0
}

.elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 72px 0 0
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu .elementor-item {
    font-family: work sans, Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item {
    color: #000082;
    fill: #000082;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item:hover, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item:focus {
    color: #000082;
    fill: #000082
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 {
    --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
    width: auto;
    max-width: auto;
    align-self: center
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 20px
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown a, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-menu-toggle {
    color: #000082
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown {
    background-color: #fff;
    border-radius: 32px 32px 32px 32px
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown a:hover, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #ffffff00
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #ffffff00
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown .elementor-item, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: work sans, Sans-serif;
    font-size: 18px;
    font-weight: 500
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0 45px 70px 0 rgba(0, 8.00000000000008, 81.99999999999999, .24)
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 23px !important
}

.elementor-5906 .elementor-element.elementor-element-3e2d599>.elementor-widget-container {
    margin: 0 15px 0 0;
    padding: 0
}

.elementor-5906 .elementor-element.elementor-element-3138490 {
    width: auto;
    max-width: auto
}

@media(min-width:600px) {
    .elementor-5906 .elementor-element.elementor-element-7a9419cc {
        width: 57.917%
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c {
        width: 42.05%
    }
}

@media(max-width:1239px) {
    .elementor-5906 .elementor-element.elementor-element-137d310 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-c657541.elementor-column .elementor-column-wrap {
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-c657541.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-c657541.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-5906 .elementor-element.elementor-element-c657541>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5906 .elementor-element.elementor-element-c657541>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 0 44px
    }

    .elementor-5906 .elementor-element.elementor-element-68dea17 img {
        width: 61px;
        height: 23px
    }

    .elementor-5906 .elementor-element.elementor-element-68dea17>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-68dea17 {
        width: auto;
        max-width: auto
    }

    .elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-7d6563a.elementor-column .elementor-column-wrap {
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 44px 0 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu .elementor-item {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -.3px
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main .elementor-item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292 {
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
        --nav-menu-icon-size: 24px;
        width: 100%;
        max-width: 100%
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown .elementor-item, .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 18px;
        letter-spacing: -.3px
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown {
        border-radius: 0 0 0 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292 .elementor-nav-menu--dropdown a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-468e5834 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-7a9419cc.elementor-column .elementor-column-wrap {
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 0 44px
    }

    .elementor-5906 .elementor-element.elementor-element-dedca2e img {
        width: 61px;
        height: 23px
    }

    .elementor-5906 .elementor-element.elementor-element-dedca2e>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-dedca2e {
        width: auto;
        max-width: auto
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu .elementor-item {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -.3px
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main .elementor-item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf {
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
        width: 100%;
        max-width: 100%
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown .elementor-item, .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 18px;
        letter-spacing: -.3px
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown {
        border-radius: 0 0 0 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf .elementor-nav-menu--dropdown a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column .elementor-column-wrap {
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 44px 0 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu .elementor-item {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -.3px
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main .elementor-item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 {
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
        width: 100%;
        max-width: 100%
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown .elementor-item, .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 18px;
        letter-spacing: -.3px
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown {
        border-radius: 0 0 0 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown li:first-child a {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown li:last-child a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599 .elementor-nav-menu--dropdown a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
}

@media(max-width:599px) {
    .elementor-5906 .elementor-element.elementor-element-137d310 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-c657541 {
        width: 50%
    }

    .elementor-5906 .elementor-element.elementor-element-c657541.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-5906 .elementor-element.elementor-element-c657541>.elementor-element-populated {
        margin: 0 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 040px
    }

    .elementor-5906 .elementor-element.elementor-element-c657541>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a {
        width: 50%
    }

    .elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-7d6563a.elementor-column .elementor-column-wrap {
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-end
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-element-populated {
        margin: 0 40px 0 0;
        --e-column-margin-right: 040px;
        --e-column-margin-left: 0px
    }

    .elementor-5906 .elementor-element.elementor-element-7d6563a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-global-9292>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-468e5834 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc {
        width: 50%
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-start
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-element-populated {
        margin: 0 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 040px
    }

    .elementor-5906 .elementor-element.elementor-element-7a9419cc>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-485694cf>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c {
        width: 50%
    }

    .elementor-bc-flex-widget .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column .elementor-column-wrap {
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: flex-end
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-element-populated {
        margin: 0 40px 0 0;
        --e-column-margin-right: 040px;
        --e-column-margin-left: 0px
    }

    .elementor-5906 .elementor-element.elementor-element-62e79c8c>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-5906 .elementor-element.elementor-element-3e2d599>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
}

@media screen and (min-width:1240px) {
    .elementor-5906 .elementor-element.elementor-element-c657541 div {
        background-color: #f6f5fa
    }
}

.elementor-5906 .elementor-element.elementor-global-9292 {
    display: inline-block
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown {
    background-color: #f6f5fa;
    min-height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding-top: 165px;
    padding-left: 40px;
    z-index: -1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition-property: none;
    margin-top: -79px !important
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown::-webkit-scrollbar {
    display: none
}

#fg-nav-menu-mobile div nav ul {
    margin-bottom: 1px !important
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown ul li.use-cases-dropdown-item {
    background: 0 0;
    margin-bottom: 54px
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown ul li.use-cases-dropdown-item a.has-submenu {
    width: 152px;
    background: 0 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: -.01em
}

.use-cases-dropdown-item *:focus {
    background: 0 0 !important
}

.use-cases-dropdown-item a.has-submenu.highlighted span i {
    transform: rotate(180deg);
    transition: transform .5s;
    transform-origin: center;
    background: 0 0
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown ul li.use-cases-dropdown-item a.has-submenu span i {
    font-size: 16px !important;
    padding: 8px
}

.use-cases-dropdown-item a.has-submenu span {
    padding: 0
}

.use-cases-dropdown-item ul li {
    margin-top: 36px;
    line-height: 32px;
    padding-right: 16px
}

.use-cases-dropdown-item ul li a, .use-cases-dropdown-item ul li a:hover {
    justify-content: start;
    border: none
}

.use-cases-dropdown-item ul li a i {
    font-size: 22px;
    font-style: normal;
    margin: 0;
    padding-right: 20px
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown ul li.use-cases-dropdown-item ul li a {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -.04em
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown ul li.dropdown-menu-pricing-button a {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: -.01em
}

ul li.dropdown-menu-login-button {
    margin-top: 54px;
    width: 178px
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown li.dropdown-menu-login-button a {
    width: 100%;
    font-size: 15px;
    padding: 20px 40px;
    border: 1px solid #e3e2ed;
    box-sizing: border-box;
    border-radius: 56px;
    color: #5a5d8d;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    justify-content: center
}

ul li.dropdown-menu-try-button {
    margin-top: 54px;
    width: 178px;
    margin-bottom: 0;
    padding-bottom: calc(100vh - 338px - 165px)
}

.elementor-5906 .elementor-element.elementor-global-9292>div.elementor-widget-container nav.elementor-nav-menu--dropdown li.dropdown-menu-try-button a {
    width: 100%;
    padding: 20px 40px;
    border-radius: 48px;
    background-color: #1d1dff;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #fff
}

.elementor-5906 .elementor-element.elementor-global-9292 .menu-item-type-custom {
    margin-bottom: 54px
}

.elementor-5906 .elementor-element.elementor-global-9292 .dropdown-menu-blog a {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 29px !important;
    letter-spacing: -.01em !important
}

@media screen and (min-width:1240px) {
    .elementor-5906 .elementor-element.elementor-element-7d6563a div {
        background-color: #f6f5fa
    }
}

.elementor-5906 .elementor-element.elementor-element-137d310 {
    width: 100%;
    z-index: 10;
    height: 122px;
    line-height: 122px;
    overflow: visible
}

.elementor-5906 .elementor-element.elementor-element-137d310.sticked {
    height: 66px !important;
    line-height: 66px !important;
    background-color: #fff
}

#fg-mobile-header, #fg-desktop-header {
    -webkit-transition: background 250ms linear, height 250ms linear, line-height 250ms linear;
    -ms-transition: background 250ms linear, height 250ms linear, line-height 250ms linear;
    transition: background 250ms linear, height 250ms linear, line-height 250ms linear
}

.elementor-5906 .elementor-element.elementor-element-485694cf {
    letter-spacing: -.015em;
    height: 22px;
    position: relative;
    z-index: 9999
}

.desktop-use-cases-dropdown-item ul {
    padding: 40px 40px 12px !important;
    margin-left: 6px !important
}

.desktop-use-cases-dropdown-item *:focus {
    background: 0 0 !important
}

.desktop-use-cases-dropdown-item a.has-submenu.highlighted span i {
    transform: rotate(180deg);
    transition: transform .3s;
    transform-origin: center;
    background: 0 0
}

ul li.desktop-use-cases-dropdown-item a.has-submenu span i {
    font-size: 12px !important;
    padding: 5px
}

.desktop-use-cases-dropdown-item a.has-submenu span {
    padding: 0 0 0 4px
}

.desktop-use-cases-dropdown-item ul li a {
    padding: 0 !important;
    margin-bottom: 24px !important;
    border: none !important;
    border-radius: 0;
    line-height: 32px;
    letter-spacing: -.015em;
    justify-content: start
}

.desktop-use-cases-dropdown-item ul li a:hover {
    line-height: 32px
}

.desktop-use-cases-dropdown-item ul li a i {
    font-size: 32px;
    font-style: normal;
    padding-right: 21px
}

.elementor-5906 .elementor-element.elementor-element-3e2d599 {
    letter-spacing: -.015em;
    height: 22px;
    position: relative;
    z-index: 9999
}

.desktop-use-cases-dropdown-item ul {
    padding: 64px 64px 28px !important;
    margin-left: 6px !important
}

.desktop-use-cases-dropdown-item *:focus {
    background: 0 0 !important
}

.desktop-use-cases-dropdown-item a.has-submenu.highlighted span i {
    transform: rotate(180deg);
    transition: transform .3s;
    transform-origin: center;
    background: 0 0
}

ul li.desktop-use-cases-dropdown-item a.has-submenu span i {
    font-size: 12px !important;
    padding: 5px
}

.desktop-use-cases-dropdown-item a.has-submenu span {
    padding: 0 0 0 4px
}

.desktop-use-cases-dropdown-item ul li a {
    padding: 0 !important;
    margin-bottom: 36px;
    border: none !important;
    border-radius: 0;
    line-height: 32px;
    letter-spacing: -.015em;
    justify-content: start
}

.desktop-use-cases-dropdown-item ul li a:hover {
    line-height: 32px
}

.desktop-use-cases-dropdown-item ul li a i {
    font-size: 32px;
    font-style: normal;
    padding-right: 21px
}

#banner .tldv-dropdown-wrapper .tldv-dropdown-list {
    right: 0
}

.elementor-5906 .elementor-element.elementor-element-468e5834 {
    width: 100%;
    z-index: 10;
    height: 156px;
    line-height: 156px
}

.elementor-5906 .elementor-element.elementor-element-468e5834 .elementor-column-gap-default {
    min-height: inherit !important
}

.elementor-5906 .elementor-element.elementor-element-468e5834.sticked {
    height: 78px !important;
    line-height: 78px !important
}